nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
    font-size: 1.7rem;
   
}

@keyframes nav-entrance{
    from{
        transform: translateX(-100%)
    }
    to{
        transform: translateX(0%)
    }
}

header{
    margin-left: 50%;
}